@media screen and (min-width: 0)  and (max-width: 767px) {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button {
        width: 300px;
    }

    input {
        margin-right: 0;
    }

    p {
        margin-top: 20px;
    }

    .listGroup {
        flex-direction: column;
    }
}